html,body{height: 100%; }
html{overflow: hidden;}
body{overflow: auto;}
*{-webkit-font-smoothing: antialiased;}
.n-layout{height: 100%; padding-top: 56px;
  box-sizing: border-box;}

.n-head{background: #2c2e2f; color: #fff; height: 56px; margin-top: -56px; overflow: hidden;}
/*.n-head{background:-webkit-gradient(linear, 0 0, 0 100%, from(#4ebd21), to(#059953));
background:-moz-linear-gradient(top, #4ebd21,#059953);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4ebd21,endColorstr=#059953,grandientType=0);}*/
.n-logo{font-size: 18px; line-height: 56px; width: 154px;}
.n-logo{text-shadow:0 1px 1px #666; font-weight: bold; margin-left: 20px;}
.ico-logo{display: inline-block; width: 22px; height: 20px; vertical-align: -6px; margin-right: 4px;
background-color: #fff;}

.n-head-nav{overflow: hidden; padding-top: 16px; margin-left: 60px; width: 620px;}
.n-head-nav li{float: left; text-align: center; margin-right: 20px;}
.n-head-nav li a{color:#999; font-size:14px; display: inline-block; padding: 4px 20px; }
.n-head-nav li a:hover,
.n-head-nav li a.current{background: #fff; color:#333; border-radius: 6px; text-decoration: none;}

.n-logout{padding-right: 20px; padding-top: 20px; width: 240px;}
.n-logout .name{color: #e8da33;}
.n-logout .func{color: #fff; margin-left: 20px; text-decoration: underline;}

.n-container{height: 100%; position: relative; padding-left: 220px;}

.n-nav-left{width: 200px; position: absolute; left: 0; top:0; background: #2c2e2f; height: 100%;}
.n-nav-left li{height: 50px; line-height: 50px;  padding-left: 30px; }
.n-nav-left li a{color: #999;}
.n-nav-left li a:hover{text-decoration: none;}


.n-nav-left li.current{background: #080808; position: relative;
  z-index: 3;}
.n-nav-left li.current a{color: #fff; font-weight: bold;}
.n-nav-left li.current a .glyphicon{color: #2cb876; display: none}
.n-nav-left li.title .title{margin-right: 10px;}
.n-nav-left li.title{
  background: #f1fff8;
  font-weight: bold;
  position: relative;
  z-index: 3;
  margin-right: -1px;
  padding-left: 20px;
  border: 1px solid #2cb876;
  border-left: 0 none;
  margin-top: -1px;
}

/* 图标 */
.glyphicon{vertical-align: middle; margin-right: 8px; color: #666; display: none; width: 16px;}

.datetimepicker .glyphicon{display: inline-block;}
/* 右边主内容区 */

.n-right-content{height: 100%; overflow: auto; padding-right: 20px;}
.pagination{margin: 0; margin-bottom: 20px;}

.tab-to-title{margin: 0; padding: 20px 0; border-bottom: 1px solid #ddd; margin-bottom: 20px;}

.n-check-area{padding: 20px; margin-bottom: 20px;}

.n-check-item{display: inline-block; width: 200px; margin-bottom: 20px;}
.n-check-item .name{width: 40px; display: inline-block;}

.current-name-area{background: #f5f5f5; padding: 10px; margin-bottom: 20px; margin-top:10px;}
.current-name-area .name b{color: #ff4400; font-size: 20px;}
.nav-tabs-content{padding-bottom:20px; margin-bottom: 20px;}

/* 基础信息表格处理 */
.td-to-th{background: #eee;}
.td-empty td{background: #999;}
.table .td-empty td{height: 0; border: 0 none; line-height: 0;   background: #666;}
.td-special-color td{color: #337ab7;}

.checkbox-item{margin-left: 20px !important;}

.suc-tip{font-size: 20px; color: #ff4400; font-weight: bold; margin-bottom: 20px; text-align: center;}

/* 输入框和文字一起排版 */
.input-group-item{width: 500px; margin-bottom: 10px;}
.input-group-item .name{display: inline-block; width: 140px; float: left; vertical-align: middle; height: 34px; line-height: 34px;}
.input-group-item .form-control{width: 360px; display: inline-block; float: right; vertical-align: middle;}

.n-check-item2{width: auto; margin-right: 20px; display: inline-block;}
.n-check-item2 .form-control{display: inline-block; width: 100px;}

.date-control{display: inline-block; width: 120px;}

/* 首页 */
.n-mian-area{padding: 20px;}
.n-mian-area .n-title{padding-top: 20px;}

.n-show-item{width: 200px; position: relative; height: 140px; background: #4bb385; color: #fff; text-align: center; float: left; margin-right: 10px; border-radius: 10px;}
.n-show-item img{display: block; width: 80px; margin: 0 auto;}
.n-show-item .intro{font-size: 16px; padding-top: 8px; font-weight: bold;}
.n-show-item .num{position: absolute; bottom: 0; width: 100%; text-align: center; font-size: 22px;}
.n-show-item .num em{font-size: 12px;}
/*基站数量和告警*/
.n-jizhan-container{padding: 20px; background: #eee; display:inline-block; padding-left: 20px; position: relative;}
.n-jizhan-container .ico-item{position: absolute; left: 20px; top: 20px; width: 20px;}
.n-jizhan-title{padding-left: 26px; font-weight: bold;}

.n-jizhan-container .n-table{background: #fff; padding: 10px;/* height: 62px;*/}
.n-jizhan-item p{margin-bottom: 2px;}
.n-jizhan-item{padding:0 20px; border-right: 1px solid #eee; text-align: center; float: left;}
.table .n-total-item{background:#ff4400; display:inline-block; padding:0 4px; border-radius:4px; color:#fff; text-align:center}
.n-jizhan-item a{text-decoration: underline;}

.n-jizhan-jingshi{background:#fff799;}
/*.n-jizhan-jingshi p{color: #333;}
.n-jizhan-jingshi p a{color: #ff4400;}*/

/* 当前状态的时间和室内温度 */
.n-new-time{background: #ff5096; float: left; padding: 10px; text-align: center; color: #fff; margin-bottom: 20px; border-radius: 10px; margin-right: 20px; height: 78px;}
.n-new-time p{font-size: 20px; font-weight: bold;}
.n-new-time span{}

.n-wendu-item{float: left; padding: 10px 20px; background:#eee; border-radius: 10px; margin-right: 20px; color: #333; margin-bottom: 20px; height: 304px;}
.n-wendu-item p{font-weight: bold;}
.n-wendu-item .num{font-size: 30px;}

/* 设备状态 */
.n-status-item{background: #eee; padding: 10px 40px; color: #333; text-align:center; margin-right: 20px; float: left; margin-bottom: 20px; font-size: 16px;}
.n-status-item img{height: 24px;}
.de-status{padding: 4px 14px; background: #666; color: #fff; border-radius: 6px;}
.de-status.open{background: #ff7e00;}

/* 电表状态 */
.n-dian-biao-status-item{background: #eee; border-radius: 10px; padding: 10px 20px; float: left; margin-right: 20px; margin-bottom: 20px; color: #333; text-align: center; width: 150px;}
.n-dian-biao-status-item img{width: 60px;}
.n-dian-biao-status-item .num{font-size: 20px; font-weight: bold;}

/* 表格修改 */
.table th{background: #eee;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom-width: 1px;}

/* 故障告警按钮 */
.warning-ico-area{position: relative;}
.warning-ico-area .glyphicon{display: inline-block; font-size: 20px; color: #ff4400;}
.warning-ico-area .badge{position: absolute; right: -4px; top: -10px; padding: 2px 6px;
border: 2px solid #fff; background: #ff4400;}

/* 天气信息 */
.weather-container{padding:20px; background: #f5f5f5; color: #333; display: inline-block; margin-bottom: 20px;}
.weather-container .img-con{margin-right: 20px; background: #68b828; width: 80px; line-height: 80px; height: 80px; text-align: center;
border-radius: 50%;}

.weather-container .table-con{width: 400px; padding-top: 10px;}
.weather-container .table{border-top: 0 none; margin-bottom: 0;}
.weather-container .table td{border-top: 0 none;}

/* 温湿度 */
.n-wendu-item{position: relative; width: 180px; padding: 10px; margin-right: 10px; border-radius: 0;}
.n-wendu-item p{margin-bottom: 0;}
.n-wendu-item .num{color: #68b828}
.cpu-usage-gauge,
.cpu-gauge2{width: 170px; height: 140px; position: absolute; left: 5px; top: 20px}
.cpu-gauge2{left: auto; right: 5px;}
